/*-- scss:defaults --*/

@import url(./fonts/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

// fonts
$font-family-sans-serif: 'Roboto Condensed', sans-serif !default;
$presentation-font-size-root: 35px !default;
$presentation-line-height: normal;

// colors
$body-bg: #232e33 !default;
$body-color: #c3c7cd !default;
$link-color: #8b743d !default;
$selection-bg: rgba(79, 64, 28, 0.99) !default;

// headings
$presentation-heading-font: 'Kdam Thmor Pro', sans-serif !default;
//$presentation-heading-text-transform: uppercase !default;
$presentation-h1-font-size: 1.5em !default;
/*$presentation-h1-text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,
  0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
  0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
  0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
  0 20px 20px rgba(0, 0, 0, 0.15);
*/
// code blocks
$code-block-bg: transparent !default;

/*-- scss:mixins --*/

@mixin bodyBackground() {
  @include radial-gradient(rgba(211, 245, 247, 0.1), rgba(255, 255, 255, 0.1));
}
